doctype html
html(lang="en")
  head
    link(
      rel="stylesheet" 
      href="css/bootstrap.min.css"
    )
    link(
      rel="stylesheet" 
      href="css/main.css"
    )
    style.
      
  body
    .container-fluid.js-accordionContainer
      //- Row of static content
      .row
        .col-sm-2
          h2 OCIO
        .col-sm-6
          P Message from the OCIO
        .col-sm-2
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(
              allowfullscreen
              src='https://www.youtube.com/embed/YtGh6ebc5lw'
            )
        .col-sm-2
          a.accordionBtn.js-accordion(
            role="button" 
            href="#aboutTheOcio" 
            aria-expanded="false" 
            aria-controls="aboutTheOcio"
          ) About the OCIO
          #aboutTheOcio(
            aria-hidden='true'
          )
            h2 About the OCIO
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet velit vel iure animi quaerat amet est nam non soluta ipsum laboriosam esse omnis, corporis at eligendi, impedit in tenetur. Aperiam?
          
      //- Row of accordion triggers
      .row
        .col-sm-2
          a.accordionBtn.js-accordion(
            role="button" 
            href="#collapse1" 
            aria-expanded="false" 
            aria-controls="collapse1"
          ) Accordion Trigger: Link with href
        .col-sm-2
          button.accordionBtn.js-accordion(
            role="button" 
            data-href="#collapse2" 
            aria-expanded="false" 
            aria-controls="collapse2"
          )  Accordion Trigger: Button with data-href
        .col-sm-2
          a.accordionBtn.js-accordion(
            role="button" 
            href="#collapse3" 
            aria-expanded="false" 
            aria-controls="collapse3"
          )  Accordion Trigger: Link with href
        .col-sm-2
          button.accordionBtn.js-accordion(
            role="button" 
            data-href="#collapse4" 
            aria-expanded="false" 
            aria-controls="collapse4"
          )  Accordion Trigger: Button with data-href
        .col-sm-4
          a.accordionBtn.js-accordion(
            role="button" 
            href="#collapse5" 
            aria-expanded="false" 
            aria-controls="collapse5"
          )  Accordion Trigger: Link with href
      //- Hidden row of accordion panels
      .row
        #collapse1.col-sm-12(
          aria-hidden="true"
        )
          h2 Accordion Target: Link with href
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eum nihil magni excepturi saepe dolorem, ut magnam iusto repellendus nisi nulla nobis amet vitae architecto pariatur ea quidem, aliquam ab.

        #collapse2.col-sm-12(
          aria-hidden="true"
        )
          h2 Accordion Target: Button with data-href
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint at incidunt, quibusdam tenetur velit sunt placeat perferendis fugiat dolor quaerat repellendus ipsum natus, sapiente itaque perspiciatis, nihil dolore ipsa!
        #collapse3.col-sm-12(
          aria-hidden="true"
        )
          h2 Accordion Target: Link with href
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsa neque impedit dolor consectetur quas officia hic! Asperiores nulla sapiente doloremque cum, fugit voluptatem, nemo tempora, dignissimos officia fuga qui!

        #collapse4.col-sm-12(
          aria-hidden="true"
        )
          h2 Accordion Target: Button with data-href
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt quasi minus non animi magni labore asperiores maxime soluta, eum libero eligendi excepturi nobis. Quos, labore. Tenetur soluta magni est!
        #collapse5.col-sm-12(
          aria-hidden="true"
        )
          h2 Accordion Target: Link with href
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nulla aliquam, suscipit id quisquam. Eum non autem accusantium amet illo soluta officiis odit sint, consequatur, dolorum, voluptates quo dignissimos obcaecati.
      //- Row of static content
      .row
        .col-sm-6
          h2 Static content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolorem harum iusto possimus officia atque, rerum reprehenderit facere, delectus voluptate temporibus! Facere expedita atque ex provident at animi illo dicta!
        .col-sm-6
          h2 Static content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque, minima hic maiores quidem, quisquam corporis, sunt quod at totam nisi repudiandae fugit eum! Recusandae vel maxime illum porro itaque?



    script(
      src='js/shim.js'
    )
    script(
      src='js/jquery.min.js'
    )
    script(
      src="js/collapse.js"
    )
    script(
      src="js/transition.js"
    )
    script(
      src="js/main.js"
    )
