doctype html
html(lang="en")
  head
    link(
      rel="stylesheet" 
      href="css/bootstrap.min.css"
    )
    link(
      rel="stylesheet" 
      href="css/main.css"
    )
    style.
      
  body
    .container-fluid.js-accordionContainer
      
      .row
        .col-xs-2
          h2 OCIO
        .col-xs-6
          P Message from the OCIO
        .col-xs-2
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(
              allowfullscreen
              src='https://www.youtube.com/embed/YtGh6ebc5lw'
            )
        .col-xs-2
          button.accordionBtn.js-accordion(
            role="button" 
            data-href="#aboutTheOcio" 
            aria-expanded="false" 
            aria-controls="aboutTheOcio"
          ) About the OCIO
          #aboutTheOcio(
            aria-hidden='true'
          )
            h2 About the OCIO
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet velit vel iure animi quaerat amet est nam non soluta ipsum laboriosam esse omnis, corporis at eligendi, impedit in tenetur. Aperiam?

      .row
        .col-xs-6
          button.accordionBtn.js-accordion(
            role="button" 
            data-href="#content1" 
            aria-expanded="false" 
            aria-controls="content1"
          ) Job Creation and Investment
        .col-xs-6
          button.accordionBtn.js-accordion(
            role="button" 
            data-href="#content2" 
            aria-expanded="false" 
            aria-controls="content2"
          )  Support for Families

      //- Hidden row of accordion panels
      .row
        #content1.accordionPanel.col-xs-12(
          aria-hidden="true"
        )
          h2 Job Creation and Investment
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eum nihil magni excepturi saepe dolorem, ut magnam iusto repellendus nisi nulla nobis amet vitae architecto pariatur ea quidem, aliquam ab.

        #content2.accordionPanel.col-xs-12(
          aria-hidden="true"
        )
          h2 Support for Families
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint at incidunt, quibusdam tenetur velit sunt placeat perferendis fugiat dolor quaerat repellendus ipsum natus, sapiente itaque perspiciatis, nihil dolore ipsa!


      
      .row
        .col-xs-1
          h2 SVG
          img(
            src='media/globe.svg'
          )
        .col-xs-2
          h2 Static content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque, minima hic maiores quidem, quisquam corporis, sunt quod at totam nisi repudiandae fugit eum! Recusandae vel maxime illum porro itaque?
        .col-xs-3
          h2 Static content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque, minima hic maiores quidem, quisquam corporis, sunt quod at totam nisi repudiandae fugit eum! Recusandae vel maxime illum porro itaque?
        .col-xs-6
          h2 Static content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque, minima hic maiores quidem, quisquam corporis, sunt quod at totam nisi repudiandae fugit eum! Recusandae vel maxime illum porro itaque?
      
      .row
        .col-xs-4
          button.accordionBtn.accordionBtn--alt1.js-accordion(
            role="button" 
            data-href="#content3" 
            aria-expanded="false" 
            aria-controls="content3"
          ) Environment for Businesses to Succeed
        .col-xs-4
          button.accordionBtn.accordionBtn--alt1.js-accordion(
            role="button" 
            data-href="#content4" 
            aria-expanded="false" 
            aria-controls="content4"
          ) Easier Interactions with Government for Citizens and Businesses
        .col-xs-4
          button.accordionBtn.accordionBtn--alt1.js-accordion(
            role="button" 
            data-href="#content5" 
            aria-expanded="false" 
            aria-controls="content5"
          ) Efficient &amp; Effective Services for the Public Sector

      .row
        #content3.accordionPanel.accordionPanel--alt1.col-xs-12(
          aria-hidden="true"
        )
          h2 Environment for Businesses to Succeed
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsa neque impedit dolor consectetur quas officia hic! Asperiores nulla sapiente doloremque cum, fugit voluptatem, nemo tempora, dignissimos officia fuga qui!

        #content4.accordionPanel.accordionPanel--alt1.col-xs-12(
          aria-hidden="true"
        )
          h2 Easier Interactions with Government for Citizens and Businesses
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt quasi minus non animi magni labore asperiores maxime soluta, eum libero eligendi excepturi nobis. Quos, labore. Tenetur soluta magni est!

        #content5.accordionPanel.accordionPanel--alt1.col-xs-12(
          aria-hidden="true"
        )
          h2 Efficient &amp; Effective Services for the Public Sector
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nulla aliquam, suscipit id quisquam. Eum non autem accusantium amet illo soluta officiis odit sint, consequatur, dolorum, voluptates quo dignissimos obcaecati.

    script(
      src='js/shim.js'
    )
    script(
      src='js/jquery.min.js'
    )
    script(
      src="js/main.js"
    )
